/noi/*
/apio/*
/noip2015/*
*.exe
*.in
*.ans
*.out
*.txt
*.jpg
*.c
/.vscode/*
!.gitignore
!/py/*.py
!*.py
!*.cpp
!/51nod/*.cpp
!/algo/*.cpp
!/bestcoder/*.cpp
!/bzoj/*.cpp
!/codeforces/*.cpp
!/hdu/*.cpp
!/luogu/*.cpp
!/poj/*.cpp
!/topcoder/*.cpp
!/uoj/*.cpp
!/vijos/*.cpp
!/cogs/*.cpp
